@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600,600i,900&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

/* LOADER */
.loader-container {
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(0, 34, 219);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  align-content: center;
}

.flex {
  min-height: 60pt;
}

@keyframes loading {
  0% {
    width: 50pt;
    height: 50pt;
    margin-top: 0;
  }
  25% {
    height: 4pt;
    margin-top: 23pt;
  }
  50% {
    width: 4pt;
  }
  75% {
    width: 50pt;
  }
  100% {
    width: 50pt;
    height: 50pt;
    margin-top: 0;
  }
}

.loader {
  width: 50pt;
  height: 50pt;
  border-radius: 100%;
  border: #fff 4pt solid;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  animation: loading 1s infinite;
}

.load-text {
  padding-top: 15px;
  text-align: center;
  font-weight: 900;
  color: #fff !important;
}

/* LOADER */

/* SCROLL BAR */

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #10002b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 34, 219);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00189c;
}

/* SCROLL BAR */

.row {
  display: table;
}

.col {
  display: table-cell;
  width: 33.33%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: black;
  color: white;
}

i.fa {
  font-size: 20px;
  margin-right: 14px;
  line-height: 39px;
  text-align: center;
  color: #ffda45;
  background: transparent;
  border-radius: 50%;
  border: 4px solid #ffda45;
  display: inline-block;
  width: 47px;
}

/* NAVBAR */


/* ========================= PARALLAX HEADER ========================= */

.hero-image {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(/assets/images/parallax/fondo-opt.webp) no-repeat 50% 50%;
  background-size: cover;
}

.text {
  position: absolute;
  width: 100%;
  height: 20%;
  top: 70%;
  background: url(/assets/images/parallax/texto-op.webp) no-repeat 50% 40%;
  background-size: cover;
}

.parallax-el {
  position: absolute;
  width: 100%;
  height: 140%;
  background: url(/assets/images/parallax/ryze-test.webp) no-repeat 50% 50%;
  background-size: cover;
  top: -50%;
}

.whitespace {
  width: 100%;
  height: 95vh;
  background-color: black;
}

/* PROFILE */

.profile {
  height: 600px;
  color: white;
  padding: 30px;
  background: rgb(0, 34, 219);
  background-image:
    linear-gradient(180deg, rgba(0, 0, 0, 1) 48%, rgba(99, 6, 255, 1) 30%);
  background-position: top;
}

.profile-container {
  text-align: center;
  margin-top: 150px;
}

.profile-container-avatar>img {
  width: 200px;
  border-radius: 50%;
  border: 7px solid #6306ff;
  margin-bottom: 20px;
}

.profile-container-name>h1 {
  font-weight: 900;
  font-size: 50px;
}

.profile-container-name>h5 {
  font-weight: 600;
  font-size: 30px;
}

/* ========================= ABOUT ME ========================= */

.separator {
  width: 100%;
  height: 200px;
  background-image: url(/assets/images/separador.webp);
  background-repeat: repeat-x;
  margin-top: -40px;
  border-top: 2px solid #6000ff;
}

.about-me {
  background: #fff;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 700px));
  justify-content: center;
  padding: 50px;
}

.about-me-title {
  display: inline-block;
}

.about-me-title>h1 {
  color: #6000ff;
  font-weight: 900;
  text-align: center;
}

.about-me-info {
  width: 100%;
  display: inline-block;
}

.about-me-info>p {
  font-size: 20px;
  font-weight: 600;
}

.about-me-info>p>a {
  font-weight: 800;
  color: #6000ff;
  text-decoration: underline;
  transition: 0.5s;
}

.about-me-info>p>a:hover {
  font-weight: 800;
  color: #111111;
  text-decoration: underline;
  transition: 0.5s;
}

.about-bold {
  font-weight: 800;
  color: #6000ff;
}

/* ========================= EXPERIENCE ========================= */

.experience-section {
  color: white;
  background-color: #111111;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom bottom;
  background-size: cover;
  padding: 20px;
}

.timelime-date {
  font-size: 10px;
  margin-top: 5px;
  margin-left: -7px;
}

ul.timeline {
  list-style-type: none;
  position: relative;
}

.timelime-title {
  font-weight: 900;
}

.timelime-company {
  font-weight: 900;
  color: #ffda45;
}

ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}

ul.timeline>li {
  margin: 20px 0;
  padding-left: 20px;
}

ul.timeline>li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #ffda45;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

.image-container {
  text-align: center;
}

.timelime-image {
  width: 260px;
}

/* ========================= SKILLS========================= */

.skills-section {
  background: #0f0f0f;
  padding: 50px;
  background-image: url(/assets/images/skillsbg.webp);
}

.section-skills-title {
  color: white;
  font-weight: 900;
  font-size: 30px;
  position: relative;
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid white;
}

.skills-title {
  font-weight: 500;
  color: white;
  font-style: italic;
  padding: 5px;
}

.skill-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-bottom: 5px;
}

.skill-container-title {
  font-weight: 600;
  padding: 5px;
  font-size: 12px;
}

.skill-container-tech {
  font-weight: 600;
  padding: 5px;
  text-align: center;
  font-size: 12px;
}

.skill-dev {
  background-color: #111111;
  color: #ffda45;
}

.skill-designer {
  background-color: #fff;
  color: #8e00ad;
}

.skill-other {
  background-color: #fff;
  color: #ad0006;
}

.skill-other-nothing {
  background-color: #ad0006;
}

.skill-gold {
  background-color: #ffda45;
}

.skill-purple {
  background-color: #8e00ad;
  color: #fff;
}

.skill-red {
  background-color: #ad0006;
  color: #fff;
}

/* ========================= STUDIES ========================= */

.certificate-section {
  background-color: #111111;
  padding: 50px;
}

.certificate-section-title {
  color: white;
  font-weight: 900;
  font-size: 15px;
  position: relative;
}

.certificate-section-title>span {
  position: relative;
  display: inline-block;
  padding-right: 1.4em;
  background: #111111;
}

.certificate-section-title:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  border-bottom: 4px solid #ffda45;
}

.certificate-section-title-about {
  color: white;
  font-weight: 900;
  font-size: 15px;
  position: relative;
}

.certificate-section-title-about>span {
  position: relative;
  display: inline-block;
  padding-right: 1.4em;
  background: #100a27;
}

.certificate-section-title-about:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  border-bottom: 4px solid #0022db;
}

.certificate-section-url {
  text-decoration: none;
}

.certificate-section-url:hover {
  text-decoration: none;
}

.certificate-container {
  cursor: pointer;
  margin-top: 10px;
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  color: black;
  border: 3px solid #ffda45;
  font-weight: 600;
}

.certificate-container:hover {
  background-color: #111111;
  color: #fff;
  transition: 0.5s;
}

.certificate-container-image>img {
  width: 50px;
  border-radius: 50%;
}

.certificate-container-text {
  margin-left: 10px;
}

/* ========================= PROJECTS ========================= */

.projects {
  padding: 20px;
  background: #ffda45;
}

.card {
  background: #fff !important;
  color: #111111;
  border: 0px solid white !important;
  transition: all .4s ease-in-out;
}

.card:hover {
  transform: scale(0.9);
}

.badge-purple {
  background: indigo;
  color: white;
}


/* ========================= BLOG ========================= */

.blog {
  padding: 20px;
  background: #0f0f0f;
}

.card-blog {
  background: #141414 !important;
  color: #fff;
  border: 0px solid white !important;
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  transition: all .4s ease-in-out;
}

.card-blog:hover {
  background: #191919 !important;
}

.card-blog-img {
  height: 200px !important;
  background-size: cover !important;
}


/* ========================= FOOTER ========================= */

canvas {
  display: block;
  vertical-align: bottom;
}

.particles-section {
  align-items: center;
  justify-content: center;
}

#particles-js {
  position: relative;
  width: 100%;
  height: 300px;
  background-image: url(/assets/images/particlesbg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  overflow: hidden;
  text-align: center;
}

.social {
  position: absolute;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.social-icons>a>img {
  height: 70px;
  margin-left: 20px;
  transition: 1s;
}

.social-icons>a>img:hover {
  transform: scale(1.2);
  transition: 1s;
}

/* ========================= MEDIA ========================= */

@media (max-width: 1024px) {
  .whitespace {
    width: 100%;
    height: 100vh;
    background-color: black;
  }

  .text {
    top: 75%;
    height: 10%;
  }

  .badge-purple {
    background: indigo;
    color: white;
  }

  .card {
    transition: none;
  }

  .card:hover {
    transform: none;
  }
}