* {
  font-family: 'Montserrat', sans-serif;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZOg3z8fZwnCo.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZOg3z-PZwnCo.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZOg3z8_ZwnCo.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZOg3z8vZwnCo.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZOg3z_PZw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZFgrz8fZwnCo.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZFgrz-PZwnCo.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZFgrz8_ZwnCo.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZFgrz8vZwnCo.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZFgrz_PZw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: local('Montserrat ExtraBold Italic'), local('Montserrat-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZbgjz8fZwnCo.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: local('Montserrat ExtraBold Italic'), local('Montserrat-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZbgjz-PZwnCo.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: local('Montserrat ExtraBold Italic'), local('Montserrat-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZbgjz8_ZwnCo.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: local('Montserrat ExtraBold Italic'), local('Montserrat-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZbgjz8vZwnCo.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: local('Montserrat ExtraBold Italic'), local('Montserrat-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZbgjz_PZw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: local('Montserrat Black Italic'), local('Montserrat-BlackItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZSgnz8fZwnCo.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: local('Montserrat Black Italic'), local('Montserrat-BlackItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZSgnz-PZwnCo.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: local('Montserrat Black Italic'), local('Montserrat-BlackItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZSgnz8_ZwnCo.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: local('Montserrat Black Italic'), local('Montserrat-BlackItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZSgnz8vZwnCo.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: local('Montserrat Black Italic'), local('Montserrat-BlackItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZSgnz_PZw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_ZpC3gTD_u50.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_ZpC3g3D_u50.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_ZpC3gbD_u50.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_ZpC3gfD_u50.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_ZpC3gnD_g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3gTD_u50.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3g3D_u50.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3gbD_u50.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3gfD_u50.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3gnD_g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_c5H3gTD_u50.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_c5H3g3D_u50.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_c5H3gbD_u50.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_c5H3gfD_u50.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_c5H3gnD_g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Montserrat Black'), local('Montserrat-Black'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_epG3gTD_u50.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Montserrat Black'), local('Montserrat-Black'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_epG3g3D_u50.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Montserrat Black'), local('Montserrat-Black'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_epG3gbD_u50.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Montserrat Black'), local('Montserrat-Black'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_epG3gfD_u50.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Montserrat Black'), local('Montserrat-Black'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_epG3gnD_g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.row {
  display: table;
}

.col {
  display: table-cell;
  width: 33.33%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: black;
  color: white;
}

i.fa {
  font-size: 20px;
  margin-right: 14px;
  line-height: 39px;
  text-align: center;
  color: #ffda45;
  background: transparent;
  border-radius: 50%;
  border: 4px solid #ffda45;
  display: inline-block;
  width: 47px;
}

/* ========================= PARALLAX HEADER ========================= */

.hero-image {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(/assets/images/parallax/fondo-opt.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.text {
  position: absolute;
  width: 100%;
  height: 20%;
  top: 70%;
  background: url(/assets/images/parallax/texto-op.png) no-repeat 50% 40%;
  background-size: cover;
}

.parallax-el {
  position: absolute;
  width: 100%;
  height: 140%;
  background: url(/assets/images/parallax/ryze-opt.png) no-repeat 50% 50%;
  background-size: cover;
  top: -50%;
}

.whitespace {
  width: 100%;
  height: 84vh;
  background-color: black;
}

/* PROFILE */

.profile {
  height: 600px;
  color: white;
  padding: 30px;
  background: rgb(0, 34, 219);
  background-image:
    linear-gradient(180deg, rgba(0, 0, 0, 1) 48%, rgba(96, 0, 255, 1) 30%);
  background-position: top;
}

.profile-container {
  text-align: center;
  margin-top: 150px;
}

.profile-container-avatar>img {
  width: 200px;
  border-radius: 50%;
  border: 7px solid #6000ff;
  margin-bottom: 20px;
}

.profile-container-name > h1 {
  font-weight: 900;
  font-size: 50px;
}

.profile-container-name> h5 {
  font-weight: 600;
  font-size: 30px;
}

/* ========================= SERVICES ========================= */

.our-service-sass {
  background: #6000ff;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  padding: 0px 0 60px;
}

.theme-title-one .icon-box .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.our-service-sass .service-block .title a {
  font-size: 22px;
  line-height: 32px;
  color: #253d5f;
  margin-bottom: 30px;
}

.theme-title-one .icon-box {
  display: inline-block;
  margin-bottom: 25px;
  position: relative;
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: inherit;
  font-style: normal;
  color: inherit;
}

.icon-img {
  float: left;
  width: 100px;
  height: 200px;
  position: absolute;
  top: 50px;
  text-align: center;
}

.our-service-sass .inner-wrapper:after {
  position: absolute;
  bottom: -165px;
  right: -165px;
  z-index: -1
}

.our-service-sass .service-block {
  background: #fff;
  border: 1px solid #eff7ff;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  z-index: 5;
  padding: 180px 30px 25px 40px;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(12, 0, 46, 0.06);
  box-shadow: 0px 2px 10px 0px rgba(12, 0, 46, 0.06);
  border: 1px solid #e6e4e4;
  margin-top: 45px
}

.our-service-sass .service-block:before {
  content: '';
  width: 273px;
  height: 273px;
  background: #0022db;
  border-radius: 50%;
  position: absolute;
  top: -148px;
  left: -83px;
  transform: scale(0)
}

.our-service-sass .service-block:hover:before {
  transform: scale(1);
  transition: all .5s linear;
  transition-delay: .1s
}

.our-service-sass .service-block:hover {
  border-color: transparent
}

.our-service-sass .service-block .icon-s {
  position: absolute;
  font-size: 65px;
  left: 40px;
  top: 52px
}

.our-service-sass .single-block:nth-child(1) .service-block .icon-s {
  color: #6df7bc
}

.our-service-sass .single-block:nth-child(2) .service-block .icon-s {
  color: #25e5eb
}

.our-service-sass .single-block:nth-child(3) .service-block .icon-s {
  color: #ff4ca5
}

.our-service-sass .service-block .title a {
  font-size: 22px;
  line-height: 32px;
  color: #253d5f;
  margin-bottom: 30px
}

.our-service-sass .service-block p {
  color: #737f92;
  padding-bottom: 20px
}

.our-service-sass .service-block .detail-button {
  font-size: 40px;
  color: #cad5e5
}

.our-service-sass .service-block .hover-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000b45;
  z-index: -3;
  opacity: 0;
  transition: all .3s linear
}

.our-service-sass .service-block:hover .hover-content {
  opacity: 1
}

.our-service-sass .service-block .hover-content:before {
  content: '';
  width: 493px;
  height: 493px;
  background: #001aa8;
  border-radius: 50%;
  position: absolute;
  top: -250px;
  left: -180px;
  z-index: 1;
  transform: translate(-50%, -50%);
  opacity: 0
}

.our-service-sass .service-block:hover .hover-content:before {
  opacity: 1;
  transform: translate(0, 0);
  transition: all .9s linear
}

.our-service-sass .service-block .hover-content:after {
  content: '';
  width: 602px;
  height: 602px;
  background: #001ec4;
  border-radius: 50%;
  position: absolute;
  top: -196px;
  left: -180px;
  z-index: -1;
  transform: translate(-50%, -50%);
  opacity: 0
}

.our-service-sass .service-block:hover .hover-content:after {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 1.3s linear
}

.our-service-sass .service-block .snow-dot {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  background: rgba(255, 255, 255, .5);
  z-index: -1
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.our-service-sass .service-block .snow-dot:nth-child(1) {
  top: 25px;
  left: 41%;
  z-index: 1;
  animation: scale-upOne 1s alternate infinite ease-in
}

.our-service-sass .service-block .snow-dot:nth-child(2) {
  top: 25px;
  left: 78%;
  animation: scale-upOne 1.1s alternate infinite ease-in
}

.our-service-sass .service-block .snow-dot:nth-child(3) {
  top: 75px;
  left: 61%;
  animation: scale-upOne .8s alternate infinite ease-in
}

.our-service-sass .service-block .snow-dot:nth-child(4) {
  top: 136px;
  left: 84%;
  animation: scale-upOne 1s alternate infinite ease-in
}

.our-service-sass .service-block .snow-dot:nth-child(5) {
  bottom: 35px;
  right: 12%;
  animation: scale-upOne 1.2s alternate infinite ease-in
}

.our-service-sass .service-block .snow-dot:nth-child(6) {
  bottom: 80px;
  right: 31%;
  animation: scale-upOne .9s alternate infinite ease-in
}

.our-service-sass .service-block .snow-dot:nth-child(7) {
  bottom: 40px;
  right: 51%;
  animation: scale-upOne 1s alternate infinite ease-in
}

.our-service-sass .service-block:hover .detail-button,
.our-service-sass .service-block:hover .icon-s,
.our-service-sass .service-block:hover .title a,
.our-service-sass .service-block:hover p {
  color: #fff !important
}

.theme-more-feature.our-service-sass .inner-wrapper:after,
.theme-more-feature.our-service-sass .inner-wrapper:before,
.theme-more-feature.our-service-sass:after,
.theme-more-feature.our-service-sass:before {
  display: none
}

.our-service-sass.theme-more-feature {
  background: 0 0;
  padding: 165px 0 180px
}

.our-service-app {
  position: relative;
  padding: 260px 0 200px;
  border-bottom: 1px solid #ededed
}

.our-service-app .main-content {
  max-width: 1450px;
  padding: 0 15px;
  margin: 90px auto 0
}

.our-service-app .main-content .inner-wrapper {
  text-align: center;
  position: relative;
  margin-top: 50px
}

.our-service-app .main-content .inner-wrapper .title a {
  font-size: 24px;
  color: #4e4e4e;
  margin: 45px 0 30px
}

.our-service-app .main-content .inner-wrapper:hover .title a {
  color: #614ef9
}

.our-service-app .main-content .inner-wrapper p {
  line-height: 30px;
  padding: 0 50px;
  color: #8c929d
}

.our-service-app .main-content .inner-wrapper .illustration-box {
  display: inline-block;
  position: relative;
  min-height: 230px
}

.our-service-app .main-content .single-block:nth-child(1) .illustration-box .bg-shape,
.our-service-app .main-content .single-block:nth-child(3) .illustration-box .bg-shape {
  animation: rotated 35s infinite linear
}

.our-service-app .main-content .single-block:nth-child(1) .illustration-box .block-shape-one {
  position: absolute;
  top: 42px;
  left: -16px
}

.our-service-app .main-content .single-block:nth-child(1) .illustration-box .block-shape-two {
  position: absolute;
  top: 42px;
  right: 0
}

.our-service-app .main-content .single-block:nth-child(1) .illustration-box .block-shape-three {
  position: absolute;
  bottom: 24px;
  right: 0
}

.our-service-app .main-content .single-block:nth-child(1) .illustration-box [class*=block-shape] {
  transform: scale(1.5)
}

.our-service-app .main-content .single-block .illustration-box [class*=block-shape] {
  opacity: 0;
  transition: all 1.5s ease-in-out
}

.our-service-app .main-content .single-block:nth-child(2) .illustration-box .block-shape-one {
  position: absolute;
  top: 120px;
  left: 26px;
  transform: scale(1.5)
}

.our-service-app .main-content .single-block:nth-child(2) .illustration-box .block-shape-two {
  position: absolute;
  top: 0;
  left: 120px;
  transform: scale(1.5)
}

.our-service-app .main-content .single-block:nth-child(2) .illustration-box .block-shape-three {
  position: absolute;
  top: 66px;
  right: 6px;
  transform: scale(1.5)
}

.our-service-app .main-content .single-block:nth-child(2) .illustration-box .block-shape-four {
  position: absolute;
  top: 52px;
  right: 63px;
  transform: translateY(30px)
}

.our-service-app .main-content.show-pr .single-block:nth-child(2) .illustration-box [class*=block-shape] {
  opacity: 1;
  transform: scale(1)
}

.our-service-app .main-content.show-pr .single-block:nth-child(2) .illustration-box .block-shape-four {
  transform: translateY(0)
}

.our-service-app .main-content .single-block:nth-child(3) .illustration-box .block-shape-one {
  position: absolute;
  top: 7px;
  left: 45px;
  transform: scale(1.5)
}

.our-service-app .main-content.show-pr .single-block:nth-child(1) .illustration-box [class*=block-shape],
.our-service-app .main-content.show-pr .single-block:nth-child(2) .illustration-box [class*=block-shape],
.our-service-app .main-content.show-pr .single-block:nth-child(3) .illustration-box [class*=block-shape] {
  opacity: 1;
  transform: scale(1)
}


.our-service-app .main-content .single-block:nth-child(2) .illustration-box:after,
.our-service-app .main-content .single-block:nth-child(2) .illustration-box:before {
  content: '';
  position: absolute;
  width: 145px;
  height: 1px;
  border-top: 1px dashed #e6e6e6;
  top: 45%
}

.our-service-app .main-content .single-block:nth-child(2) .illustration-box:before {
  right: -150px
}

.our-service-app .main-content .single-block:nth-child(2) .illustration-box:after {
  left: -150px
}

.our-service-app .main-content .more-button {
  display: block;
  width: 230px;
  line-height: 51px;
  border-radius: 30px;
  background: #614ef9;
  border: 2px solid #614ef9;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  margin: 100px auto 0;
  text-align: center
}

.our-service-app .main-content .more-button:hover {
  background: #fff;
  color: #614ef9
}

.our-service-app .main-content .down-arrow {
  display: block;
  width: 60px;
  height: 60px;
  box-shadow: 0 15px 20px 0 rgba(209, 218, 235, .35);
  background: #fff;
  border-radius: 50%;
  margin: 0 0 0 -30px;
  line-height: 60px;
  text-align: center;
  color: #7494b5;
  font-size: 20px;
  position: absolute;
  bottom: -30px;
  left: 50%;
  z-index: 1
}

.our-service-app .main-content .down-arrow span {
  display: block;
  transform: rotate(-90deg)
}

.our-service-app .main-content .down-arrow:hover {
  color: #fff;
  background: #614ef9
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.bg-shape {
  -webkit-animation: rotate-center 5s linear infinite both;
  animation: rotate-center 5s linear infinite both;
  cursor: pointer;
}

@-webkit-keyframes scale-upOne {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }

  100% {
    -webkit-transform: scale(.2);
    transform: scale(.2)
  }
}

@keyframes scale-upOne {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }

  100% {
    -webkit-transform: scale(.2);
    transform: scale(.2)
  }
}

/* ========================= EXPERIENCE ========================= */

.experience-section {
  color: white;
  background-color: #111111;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom bottom;
  background-size: cover;
  padding: 20px;
}

.timelime-date {
  font-size: 10px;
  margin-top: 15px;
  margin-left: -7px;
}

ul.timeline {
  list-style-type: none;
  position: relative;
}

.timelime-title {
  font-weight: 900;
}

.timelime-company {
  font-weight: 900;
  color: #ffda45;
}

ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}

ul.timeline>li {
  margin: 20px 0;
  padding-left: 20px;
}

ul.timeline>li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #ffda45;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

.timelime-image {
  width: 260px;
}

/* ========================= SKILLS========================= */

.skills-section {
  background: #0f0f0f;
  padding: 50px;
  background-image: url(/assets/images/skillsbg.jpg);
}

.section-skills-title {
  color: white;
  font-weight: 900;
  font-size: 30px;
  position: relative;
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid white;
}

.skills-title {
  font-weight: 500;
  color: white;
  font-style: italic;
  padding: 5px;
}

.progress {
  margin: 10px 10px;
  border-radius: 0 !important;
}

.progress-bar {
  text-align: left;
  padding: 5px;
}

.bg-dev {
  background-color: #ffda45 !important;
  color: black !important;
}

.bg-designer {
  background-color: #8e00ad !important;
  color: white !important;
}

.bg-otherskills {
  background-color: #ad0006 !important;
  color: white !important;
}

/* ========================= STUDIES ========================= */

.certificate-section {
  background-color: #111111;
  padding: 50px;
}

.certificate-section-title {
  color: white;
  font-weight: 900;
  font-size: 15px;
  position: relative;
}

.certificate-section-title>span {
  position: relative;
  display: inline-block;
  padding-right: 1.4em;
  background: #111111;
}

.certificate-section-title:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  border-bottom: 4px solid #ffda45;
}

.certificate-section-title-about {
  color: white;
  font-weight: 900;
  font-size: 15px;
  position: relative;
}

.certificate-section-title-about>span {
  position: relative;
  display: inline-block;
  padding-right: 1.4em;
  background: #100a27;
}

.certificate-section-title-about:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  border-bottom: 4px solid #0022db;
}

.certificate-section-url {
  text-decoration: none;
}

.certificate-section-url:hover {
  text-decoration: none;
}

.certificate-container {
  cursor: pointer;
  margin-top: 10px;
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  color: black;
  border: 3px solid #ffda45;
  font-weight: 600;
}

.certificate-container:hover {
  background-color: #111111;
  color: #fff;
  transition: 0.5s;
}

.certificate-container-image>img {
  width: 50px;
  border-radius: 50%;
}

.certificate-container-text {
  margin-left: 10px;
}

/* ========================= CYBERTRUCK BUTTON ========================= */

button {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  border: 4px solid #fff;
  color: #fff;
  cursor: pointer;
  padding: 10px 50px;
  clip-path: polygon(0 0, 0 100%, 100% 100%, 80% 100%, 120% 0%);
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 95% 100%, 120% 0%);
  background: linear-gradient(135deg, transparent, transparent 97%, #fff 3%);
  animation-iteration-count: 1;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

button:hover {
  animation-name: blinkMotherFucker;
}

@keyframes blinkMotherFucker {
  0% {
    border-color: rgba(255, 255, 255, 1);
    background: linear-gradient(135deg, transparent, transparent 97%, #fff 3%);
    color: #fff;
  }

  15% {
    border-color: rgba(255, 255, 255, 0.5);
    background: linear-gradient(135deg, transparent, transparent 97%, rgba(255, 255, 255, 0.5) 3%);
    color: #fff;
  }

  30% {
    border-color: rgba(255, 255, 255, 1);
    background: linear-gradient(135deg, transparent, transparent 97%, #fff 3%);
    color: #fff;
  }

  45% {
    border-color: rgba(255, 255, 255, 0.5);
    background: linear-gradient(135deg, transparent, transparent 97%, rgba(255, 255, 255, 0.5) 3%);
    color: #fff;
  }

  60% {
    border-color: rgba(255, 255, 255, 1);
    background: linear-gradient(135deg, transparent, transparent 97%, #fff 3%);
    color: #fff;
  }

  70% {
    border-color: rgba(255, 255, 255, 0.5);
    background: linear-gradient(135deg, transparent, transparent 97%, rgba(255, 255, 255, 0.5) 3%);
    color: #fff;
  }

  80% {
    border-color: rgba(255, 255, 255, 1);
    background: linear-gradient(135deg, transparent, transparent 97%, #fff 3%);
    transition: 0.3s ease;
  }

  85% {
    border-color: rgba(255, 255, 255, 1);
    background: linear-gradient(135deg, transparent, transparent 97%, #fff 3%);
    transition: 0.3s ease;
  }

  100% {
    border-color: rgba(255, 255, 255, 1);
    background: #fff;
    color: #111111;
  }
}

/* ========================= FOOTER ========================= */

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */
.particles-section {
  align-items: center;
  justify-content: center;
}

#particles-js {
  position: relative;
  width: 100%;
  height: 300px;
  background-image: url(/assets/images/particlesbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  overflow: hidden;
  text-align: center;
}

.social {
  position: absolute;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.social-icons>a>img {
  height: 50px;
  margin-left: 20px;
  transition: 1s;
}

.social-icons>a>img:hover {
  transform: scale(1.2);
  transition: 1s;
}

/* ========================= MEDIA ========================= */

@media (max-width: 1024px) {
  .whitespace {
    width: 100%;
    height: 85vh;
    background-color: black;
  }

  .text{
    top: 75%;
    height: 10%;
  }
}